footer{
    z-index: 10 !important;
    background:
    linear-gradient(to bottom, rgba(0,0,0,.85), rgba(0,0,0,.95), rgba(0,0,0,1));
    height: 130px;
    padding: 5px;
    text-align: center;
    h2{
        font-family: 'Roboto Mono', monospace;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
