section.only-new{

    div.text-white{
      padding: 0px !important;
        div.row{
            margin: auto;
            div.col-12.col-md-9{
              margin: 0px !important;
              padding: 0px !important;
                    article.data-new{

                        header.entry-header{

                            div.thumb{

                                h2{
                                    ul.post-categories{

                                        li{
                                            a{

                                            }
                                        }
                                    }
                                }
                                h1.title-new{

                                    a{

                                    }
                                }

                            }
                            div.data-new{

                                span.tags{
                                    a{

                                    }
                                }
                            }
                            div.title-page{
                                h1.title-new{

                                    a{

                                    }
                                }
                            }
                        }
                        div.entry-content{
                            div.content{

                                img{

                                }
                            }
                        }
                    }

                    h3#comments{

                    }
                    ol.commentlist{

                        ul, li{

                        }
                        div.comment-body{

                            div.comment-meta, div.comment-author{
                                a{

                                }
                            }
                            p{
                                a{
                                    color: white;
                                    text-decoration: none;
                                    // text-shadow: -3px -1px 0 rgb(112, 2, 2);
                                }
                            }
                            div.reply{

                                a.comment-reply-link{

                                }
                            }
                        }
                    }
                    div.comment-respond{

                        h3, label{

                        }
                        a{

                        }
                        form.comment-form{
                            p{
                                // text-align: center;
                                input, .ofsv{

                                }
                            }
                            p.form-submit{

                                input.submit{

                                }
                            }
                        }
                    }

            }
            div.col-12.col-md-3{

                .aside{

                    .widget-title{

                    }
                    ul{

                       li{

                        a{

                        }
                    ul.children{

                    }
                    }
                }

            }
                h3.new-aside{

                }
                div.card{

                    a{

                        h5{

                        }
                    }
                    a:hover{

                    }
                }
            }
        }
    }
}
